.box-container {
  	text-align: center;
	margin-top: 40px;
	margin-bottom: 20px; 
	background: #999999; 
	padding: 7px; 
}

a img {
	border:0;  
	vertical-align: top; 
}

div.box-container a {
	display: inline-block; 
	padding: 5px; 
    width: 33%;
    height: 35%;
	box-sizing: border-box;
	min-width: 170px; 
	max-width: 520px;  
}


div.button {
	width: 16%;
    padding-bottom: .5%;
	border-color: white; 
	background-color: #6081B6;
	border-style: solid;
	border-width: 1px; 
	margin:0 auto;  
	position: relative; 
	margin-left: 82.7%; 
	margin-bottom: 3.5%;
	margin-top: -1%;
	text-align: center;  
	border-radius: 7px; 
	box-shadow: inset 0 0.8px 6px rgba(0, 0, 0, 1);
}

div.button a {
	text-decoration: none; 
	color: white; 
	font-family: "Verdana";
	font-size: 20px;
}

label {
	font-family: "Verdana";
}


img.main {
	width: 100%;
    height: 100%;
}


body{
	height: 100vh;
	margin:0;
	background:#005295; 
}

#header {
	width:70%;
	text-align:center;
	margin:0 auto;
}

.videowords {
	margin-bottom: 30px; 
}


h1 {
    text-align: center;
	font-family: "Verdana";
	font-size: 50px;
	margin-top: 35px;
	margin-bottom: -20px;
	color: #FFFFFF; 
}


h1.inside {
	font-size: 22px; 
	margin-top: -48px; 
	margin-bottom: 15px; 
	color: black;
	font-family: "Verdana"; 
	color: #005295; 
}


h2 {
	font-family: "Verdana";
	font-size: 18px; 
	text-align: left; 
	margin-left: 4%;     
	color:#FFFFFF;
	margin-bottom: -5%;
	margin-top: 0%;
}

h2.inside {
	color: black; 
	font-size: 18px; 
	margin-top: -3px; 
	margin-bottom: 10px; 
	color: #005295; 
}


h3 {
	font-family: "Verdana"; 
	text-align: left; 
	font-size: 18px; 
	margin-top: 15px;
	margin-bottom: 5px; 
}

h4 {
    text-align: center;
	font-family: "Verdana";
	font-size: 20px;
	margin-top: -25px;
}

li { font-family: "Verdana";
	font-size: 22px;
}

p {
	font-family: "Verdana";
	font-size: 18px; 
}


.Logo{
	position: relative; 
	margin-left: 4%; 
	margin-bottom: 1%;
	margin-top: 2%; 
	width: 10%; 
}

.lightbox {
	display: none; 
	max-width: 660px; 
	text-align: left; 

} 

img.small {
	position: relative; 
	margin-left: 2%; 
	width: 15%; 
	margin-bottom: 1.5%; 
	margin-top: -1%
}

